---
import CMSPage from '../components/layouts/CMSPage.astro';
import Banner from '../components/cms/contentful/Banner.astro';
import Page from '../components/cms/contentful/Page.astro';
---

<CMSPage title="Cleareds Frontend">
	<main>
    <Page />
  </main>
</CMSPage>